*{
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-size: 100%;
}
.page{
  width: 100%;
  margin: 0 auto;
}
.page nav{
  float: left;
  width:30%;
  
}
.page main{
  float:right;
  width: 70%;
  background-color: #F2F2F2;
}


    
  